deven
env
venv
web_spiders copy.py
WebSpider
input.csv
output.csv
dumps.py
.env
scrapped.csv

__pycache__
agent/__pycache__
agent/*/__pycache__
agent/*/*/__pycache__

api/__pycache__
api/*/__pycache__
agent/*/*/__pycache__