<!DOCTYPE html>
<html lang="en">
{% include 'partials/head.html' %}

<body>
    <section class="vh-auto vw-auto">
        <div class="container py-2 h-50">
            <div class="row d-flex h-100 justify-content-center align-items-center">
                <div class="col col-lg-7 col-xl-7">
                    <div class="card rounded-3">
                        <div class="card-body p-4">

                            <h4 class="text-center my-3 pb-3">Website Crawler</h4>
                            <form class="form" method="post" id="myForm" enctype="multipart/form-data">

                                <div class="file-drop-area">
                                    <span class="choose-file-button">Choose files</span>
                                    <span class="file-message">or drag and drop files here</span>
                                    <input class="file-input" id="file" type="file" multiple>
                                </div>

                                <div class="mt-5 p-1">
                                    <button type="submit" class="btn btn-outline-success"> Submit</button>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>

            </div>

        </div>

        <div class="container-fluid mt-4">
            
            {% if tasks %}
                
              {% for ts in tasks %}
               <div class="card" style="width: 18rem;">
                    <div class="card-body">
                    <h5 class="card-title">Task-Id {{ts.celery_task_id}}</h5>
                    <p class="card-text">status: {{ts.state}} </p>
                    <a href="/specific-task/{{ ts.id }}" class="btn btn-primary">view</a>
                    </div>
                </div>
              {% endfor %}
    
            {% endif %}
        </div>

    </section>
</body>
<script>

    async function handleDownload() {
            try {
                // Fetch the CSV file using FastAPI endpoint
                const response = await fetch('/download-csv');

                // Check if the response is successful
                if (response.ok) {
                    // Convert the response to a Blob
                    const blob = await response.blob();

                    // Create a temporary link to trigger the download
                    const link = document.createElement('a');
                    link.href = URL.createObjectURL(blob);
                    link.download = 'tasks.csv';

                    // Trigger a click on the link to initiate the download
                    link.click();
                } else {
                    console.error('Failed to fetch CSV file:', response.statusText);
                }
            } catch (error) {
                console.error('Error during CSV download:', error);
            }
        }

    // Attach the handleDownload function to the button click event
    document.getElementById('downloadBtn').addEventListener('click', handleDownload);



    document.addEventListener('DOMContentLoaded', (event) => {
        document.getElementById("myForm").addEventListener("submit", function (e) {
            e.preventDefault();
            // const fileInput = document.querySelector('.file-input');
            const fileInput = document.getElementById('file');
            const selectedFile = fileInput.files[0];
            const formData = new FormData();

            formData.append('file', selectedFile);

            fetch('/scrape', {
                method: 'POST',
                body: formData
            })
                .then(resp => resp.text())
                .then(data => {
                    // clear the input fields
                    console.log(data)

                })
                .catch(error => {
                    console.error(error);
                });

        });

    });

</script>

</html>